**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.github
**/.gitignore
**/.gitkeep
**/.gitmodules
**/.idea
**/Dockerfile
**/Thumbs.db
**/docker-compose*.yaml
**/docker-compose*.yml
.editorconfig
.php_cs.cache
.travis.yml
composer.phar
docker/mysql/data/
etc/build/*
node_modules/
var/*
vendor/
public/assets/
public/build/
public/bundles/
public/css/
public/js/
public/media/
