**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules
**/Dockerfile
**/Thumbs.db
.editorconfig
.env*
.php_cs.cache
.travis.yml
app/config/parameters.yml
app/config/*.local.yml
bin/*
!bin/console
!bin/symfony_requirements
composer.phar
docker-compose.override.yaml
docker-compose.override.yml
docker-compose.yaml
docker-compose.yml
docker/mysql/data/
etc/build/*
node_modules/
var/*
vendor/
web/assets/
web/bundles/
web/css/
web/js/
web/media/
