**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules
**/Dockerfile
**/Thumbs.db
.editorconfig
.php_cs.cache
.travis.yml
composer.phar
docker-compose*.yaml
docker-compose*.yml
docker/mysql/data/
etc/build/*
node_modules/
var/*
vendor/
public/assets/
public/bundles/
public/css/
public/js/
public/media/
