/sylius/public/assets
/sylius/public/css
/sylius/public/js
/sylius/public/media
!/sylius/public/media/image/.gitkeep

/sylius/etc/build/*
!/sylius/etc/build/.gitignore

/sylius/behat.yml
/sylius/phpspec.yml

/docker-compose.override.yaml
/docker-compose.override.yml
/docker/mysql/data/

###> symfony/framework-bundle ###
/sylius/composer.lock
/sylius/.env.*.local
/sylius/.env.local
/sylius/.env.local.php
/sylius/public/bundles
/sylius/var/
/sylius/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/sylius/.php_cs
/sylius/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/sylius/.phpunit.result.cache
/sylius/phpunit.xml
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/sylius/config/jwt/*.pem
!/sylius/config/jwt/*-test.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-bundle ###
/sylius/node_modules/
/sylius/public/build/
/sylius/npm-debug.log
/sylius/yarn-error.log
###< symfony/webpack-encore-bundle ###
