app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
behat.yml

web/bundles/*
web/css/*
web/js/*
web/assets/compiled/*
web/media/*

bin/*
vendor/*

composer.phar

deploy/deploy.rb
deploy/stages/*.rb
