/var/*
!/var/.gitignore

/public/assets
/public/bundles
/public/css
/public/js
/public/media

/vendor
/node_modules

/etc/build/*
!/etc/build/.gitignore

/behat.yml
/phpspec.yml

/.env
/.env.prod
/.env.staging
/.env.test
/.env.test_cached

/docker-compose.override.yaml
/docker-compose.override.yml
/docker/mysql/data/

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
