default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    suites:
        default:
            contexts:
                - Context\FeatureContext

    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
            browser_name: firefox
            show_auto:    false
        Behat\Symfony2Extension: ~
