imports:
    - vendor/sylius/sylius/behat.yml.dist

default:
    extensions:
        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "vendor/sylius/sylius/features"
                - "features"
