parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
        - plugins/SyliusOrderNotePlugin/src/
        - plugins/SyliusOrderNotePlugin/tests/
