{% extends "templates/baseEmailTemplate.html.twig" %}

{% block subject %}
    Сброс пароля
{% endblock %}

{% block templ0 %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken}) %}
    {% autoescape %}
        <h3>Привет, {{ user.username }}!</h3>

        Для сброса пароля перейдите по ссылке {{ url|raw }}
    {% endautoescape %}
{% endblock %}

{% block templ1 %}
    {% autoescape %}
        По всем возникающим вопросам обращаться по тел. <a href="tel:+7-983-395-86-13">+7-983-395-86-13</a>
    {% endautoescape %}
{% endblock %}