
{% block subject %}
    Регистриция на marinewool.ru
{% endblock %}

{% block body %}
    {% include("baseEmailTemplate.html.twig") %}
{% endblock %}

{% block templ %}
    {% autoescape %}
        Добро пожаловать в наш магазин!
        <br/>
        Вы были успешно зарегистрированы. {#{ user.username }#}
        <br/>
        По всем возникающим вопросам обращаться по тел. <a href="tel:+7-983-395-86-13">+7-983-395-86-13</a>
        <br/>
        <br/>
        <hr/>
        Интернет-магазин Marinewool.ru
    {% endautoescape %}
{% endblock %}
