    <table class="table table-hover table-striped">
            {% for new in news %}
                    <tr>
                        <td>{{ new.createdAt|date("Y.m.d") }}</td>
                        <td>{{ new.shortText }}</td>
                    </tr>
            {% endfor %}
    </table>