{% for name, gateway in gatewayFactories %}
    <a href="{{ url('sylius_admin_payment_method_create', { 'factory': name }) }}" id="{{ name }}" class="item" {% if name == 'sylius.pay_pal' %}data-confirm-pay-pal-consent{% endif %}>
        {{ gateway|trans }}
    </a>
{% endfor %}
