<div class="container container-fluid contact">
    <div class="row">
        <div class="col-md-2">
            Телефон
        </div>
        <div class="col-md-2">
            Пишите нам
        </div>
        <div class="col-md-2">
            <a class="btn btn-social-icon btn-vk" href="https://vk.com/club144664503"><span class="fa fa-vk"></span></a>
            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/marine_wool/"><span class="fa fa-instagram"></span></a>
        </div>
        <div class="col-md-3">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
        <div class="col-md-3">
            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}
        </div> 
    </div>
</div>
