<div class="container container-fluid contact">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="tel:+7-983-395-86-13" id="tel">
                <i class="visible-sm-inline visible-md-inline visible-lg-inline fa fa-phone fa-2x" aria-hidden="true"> +7-983-395-86-13</i>
                <i class="visible-xs-inline fa fa-phone fa-2x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <button class="btn btn-default">Напишите нам</button>
        </div>
        <div class="col-xs-6 col-md-2">
            <a class="btn btn-social-icon btn-vk" href="https://vk.com/club144664503"><span class="fa fa-vk"></span></a>
            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/marine_wool/"><span class="fa fa-instagram"></span></a>
        </div>
        <div class="col-xs-6 col-md-2">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
        <div class="col-xs-12 col-md-3">
            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}
        </div> 
    </div>
</div>