<div class="ui basic segment">
    <div class="ui three column stackable grid">
        <div class="column">
            
        </div>
        <div class="column">
        </div>
        <div class="right aligned column">
            
        </div>
    </div>
</div>
