{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        <i class="fa fa-meh-o" style="font-size:150px"></i>
        <br/><br/>
        {{ 'sylius.ui.the_page_you_are_looking_for_does_not_exist'|trans }}
    </h2>

{% endblock %}
