<h2 class="ui center aligned icon header">
    <a href="tel:+7-983-395-86-13" id="tel">
        <i class="circular phone icon"></i>
    </a>
    +7-983-395-86-13
    <span class="sub header">
        {{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}
    </span>
</h2>

<div class="ui divider"></div>

<!-- div class="ui center aligned basic segment">
    <i class="huge mastercard icon"></i>
    <i class="huge visa icon"></i>
    <i class="huge paypal card icon"></i>
</div -->
