default:
    suites:
        order_note:
            paths: ['%paths.base%/features']
            contexts: [SyliusOrderNotePlugin\Tests\Behat\OrderNoteContext]
    autoload:
        '': '%paths.base%/tests'
